body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Patrick Hand', cursive;
    font-size: 180%;
    background-color: lightskyblue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*FONTS use as needed.*/

/*
font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Give You Glory', cursive;
font-family: 'Kristi', cursive;
font-family: 'Waiting for the Sunrise', cursive;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Swanky and Moo Moo', cursive;
font-family: 'Patrick Hand', cursive;  POSSIBLE TITLE FONT.
*/

.jumbotron {
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    background-image: url('../Images/notebookpaper.jpg');
}

.firstFontStyle {
    font-family: 'Kristi', cursive;
}

.secondFontStyle {
    font-family: 'Sue Ellen Francisco', cursive;
}