@{
    ViewBag.Title = "Project Possibilities";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<h3>The Slam Book provides several possible creative solutions and logical possibilities.</h3>

<ul class="ideaList">
    <li>Friends can create private groups, or keep questions public.</li>
    <li>Users can rely on Pen Names or Real Names.</li>
    <li>Answers could be kept hidden until a user answers a certain number (to "seed the pot").</li>
    <li>A pre-made list of default questions can be written; users can select all, some or none for their groups.</li>
    <li>Users can rank best questions and best answers.</li>
    <li>Search tools could find all related questions.</li>
    <li>Each user could be assigned a different font.</li>

</ul>
