@{
    ViewBag.Title = "Contact";
}
<h2>Why use The Slam Book, instead of doing it the old way?</h2>
<h3>The old way presented multiple problems:</h3>
<br/>

<h3>Thinking and writing by hand are slow.</h3>
<div class="whyPics">
    <figure>
        <img class="examplePic" src="~/Images/cherthinking.jpg" alt="Cher" />
        <figcaption>And there's always that one person who daydreams for ten minutes.</figcaption>
    </figure>
</div>

<h3>Handwriting is not anonymous, so honesty is stifled.</h3>
<div class="whyPics">
    <figure>
        <img class="examplePic" src="~/Images/handwriting.jpg" alt="Girly handwriting" />
        <figcaption>I guarantee the whole school knows who wrote this.</figcaption>
    </figure>
</div>

<h3>The book's keeper had to be very trustworty... or the book had to be destroyed.</h3>
<div class="whyPics">
    <figure>
        <img class="examplePic" src="~/Images/tomdiary.jpg" alt="Tom Riddles diary" />
        <figcaption>A slam book can be THAT DANGEROUS.</figcaption>
    </figure>
</div>

<h3>Or worst of all: A parent or teacher finds it!</h3>
<div class="whyPics">
    <figure>
        <img class="examplePic" src="~/Images/parentfindsbook.jpg" alt="Parent freak out" />
        <figcaption>And it's always THAT parent who find it, too.</figcaption>
    </figure>
</div>
