@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>THE SLAM BOOK</h1>
    <p class="lead">For the 13-year-old inside all of us!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Chunk asks: "What's a slam book?"</h2>
        <p>
            Just answer on another page.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Questions and Answers</h2>
        <p>ditto</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project Possibilities</h2>
        <p>Maybe some funny 80s tech reference. Data from The Goonies?</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>